[2020-04-23 07:26] meta-boy opened #3 "Removes the import for the dart `meta` package"
when running the command, it removes the imports for https://pub.dev/packages/meta

Way to reproduce:

[code]
example custom exception, within some file inside the working directory. Run the command
```pub run import_sorter:main```

[2020-04-23 09:40] Matt-Gleich commented on #3
👋 Hello! Thanks for using import_sorter!

1. What version of import_sorter are you running?
2. What does your pubspec.yaml look like?

Thanks!

[2020-04-23 10:22] Matt-Gleich commented on #3
Upgrade the version to `^1.0.4` and you should be good. Just cloned your project and it worked for me. I'll close this issue once you let me know it works for you.

[2020-04-23 10:25] meta-boy commented on #3
Yes it worked, thankyou

[2020-04-23 10:25] #3 closed

[2020-04-23 12:17] Matt-Gleich opened #4 "Include transitive dependencies"
Get from pubspec.lock. Make sure to run `pub get` or `flutter pub get` if a flutter project.

[2020-04-23 12:42] #4 closed

[2020-04-23 17:22] Matt-Gleich opened #5 "Fix problem with commented out files"

[2020-04-23 17:48] #5 closed

[2020-04-26 20:20] Matt-Gleich opened #6 "Ignore files defined in pubspec.yaml config"
Add optional config to ignore formatting certain files in a project

[2020-04-30 04:32] #6 closed

[2020-05-05 04:00] Matt-Gleich opened #7 "Drop process_run dependency"
Replace with built in Process class from dart:io. This could end up making things a little faster

[2020-05-05 16:47] #7 closed

[2020-05-06 09:05] nodinosaur opened #9 "Keep code before imports"
I just ran the importer and it broke the project.

Reviewing the file that was reported by the analyzer as broken and comparing to GitHub I saw that `library XXXXXX;` had been stripped.

[2020-05-06 15:04] Matt-Gleich commented on #9
👋🏼 Hello! Can you please provide the following information? Thanks!

1. What version of `import_sorter` are you using
2. Would you be able to send the file or is it a private project (easier for me to debug)
3. Does the `library` come before the imports?

[2020-05-06 16:10] nodinosaur commented on #9
👋Sure:

1. `import_sorter: any` (my understanding is that this implies latest)
2. Flutter SDK reference for you: [animated_icons.dart](https://github.com/flutter/flutter/blob/master/packages/flutter/lib/src/material/animated_icons.dart)
3. The `library` keyword does seem to appear above imports, yes.

[2020-05-06 16:53] Matt-Gleich commented on #9
Ah, I thought that might be it. At the moment `import_sorter` removes all code above the imports. I was under the impression that there was never any code before imports but I guess not! I will look at fixing it today and you should see available in `2.1.0`. Let me know if have any other questions!

[2020-05-06 16:58] Matt-Gleich opened #10 "Create issue templates and more open source files"
For issue templates make such the following information is included:

1. What version of import_sorter are you using?
2. Are you able to send a picture of the affected file/project?

[2020-05-07 03:56] Matt-Gleich opened #11 "Multiline string problems"
Problems with multiline strings containing dart import statements

[2020-05-07 04:00] Matt-Gleich opened #12 "Use args for arguments"
This allows for a help command and for proper flags

[2020-05-09 01:31] #11 closed

[2020-05-09 01:32] Matt-Gleich commented on #9
This is going to be available tonight in version 3.0.0 when I close all the other issues

[2020-05-09 01:32] #9 closed

[2020-05-09 06:20] #12 closed

[2020-05-09 07:13] #10 closed

[2020-05-23 11:22] Cal-Hagner opened #14 ""Failed to run flutter pub get""
**Describe the bug**
When `flutter pub run import_sorter:main` is run, it exits with exit code 127, and fails to run `flutter pub get`. However, when `flutter pub get` is run individually of `flutter pub run import_sorter:main`, it works fine, and running `flutter pub get -v` produces the expected output, all exit codes 0.

**To Reproduce**
I ran `flutter pub run import_sorter:main`. I am using im

[2020-05-23 11:26] Cal-Hagner commented on #14
This is an interesting exit code, as it signifies that `flutter pub get` does not exist, which doesn't make sense, for, as you can see in the screenshots, `flutter pub get` certainly does exist.

[2020-05-23 16:20] Matt-Gleich commented on #14
Are you running this in windows? It might be having the same process error that we had with morse module.

[2020-05-23 16:54] Matt-Gleich commented on #14
Yeah just tested it on macOS and works fine for me.

[2020-05-23 18:56] #14 closed

[2020-06-09 11:19] Chetan11-dev opened #15 "Removing unused imports"
FIRST OF ALL THANKS FOR THE AMAZING PACKAGE
It would be great if you could add feature of removing unused imports like https://marketplace.visualstudio.com/items?itemName=luanpotter.dart-import

[2020-06-09 16:16] Matt-Gleich commented on #15
Thank you so much for the kind words! Although this would be a nice feature I have no idea how it could be done without adding a ton of code to the little package. Let me know if you know of a way to parse the file and check if certain classes and functions are being used from that other file. For now, because I have no plans to implement this in the immediate future, I am going to close this issu

[2020-06-09 16:16] #15 closed

[2020-06-11 16:56] britannio opened #16 "Can generated files be ignored?"
**Is your feature request related to a problem? Please describe.**
When I run code generation, the sorting and comments for imports are overridden and they aren't very relevant for generated code anyway.

**Describe the solution you'd like**
The option to provide a regular expression like `**/*.g.dart` that skips files matching it.

[2020-06-11 17:09] Matt-Gleich commented on #16
This is a great idea! I think that this would be added to the current feature to ignore files based of their exact file name. Thank you!

[2020-06-11 17:57] #16 closed

[2020-06-11 18:54] britannio commented on #16
Wow, thanks for such a quick fix!

[2020-06-11 19:03] Matt-Gleich commented on #16
Np!  I only had to change like 3 lines so it was an easy fix!

[2020-06-20 15:23] Matt-Gleich opened #19 "Allow for global install"
Allow for global system install using `pub global activate import_sorter`. When doing this allow the user to use an `--install` command for installing it the given project. Also, allow for a global config stored in `~/.import_sorter`.

[2020-06-21 01:07] Matt-Gleich commented on #19
Might make it too complex. Not going to add.

[2020-06-21 01:07] #19 closed

[2020-06-24 11:36] DFelten opened #20 "Sort imports without adding comments"
Thanks for this package! I've got a little suggestion.

I like the idea to sort my imports, but I would like to have the comments removed. A flag to sort the imports without adding comments like "Flutter imports:" would be great.

[2020-06-24 11:55] Matt-Gleich commented on #20
This is a great idea! I will get to work on this later today and the PR adding this feature will be linked to this issue. Thank you for the great idea!

[2020-07-02 14:46] t-animal opened #21 "Exit with non-zero exit code when files were changed"
**Is your feature request related to a problem? Please describe.**
In CI pipelines it would be handy to ensure that all imports are sorted. However, this requires checking for changes manually.

**Describe the solution you'd like**
If changes were done to any file, exit with exit code 1, otherwise exit code 0.

**Describe alternatives you've considered**
Checking if files have changed using git.

[2020-07-02 14:56] Matt-Gleich commented on #21
Ahh, this is a good idea! As a quick fix for your CI, you can just run the following command after running import_sorter: `git diff --exit-code`

[2020-07-02 21:18] Matt-Gleich commented on #20
Sorry about the lack of work here. Looking into it right now!

[2020-07-03 03:49] #20 closed

[2020-07-03 03:49] #21 closed

[2020-07-03 03:50] Matt-Gleich commented on #21
Released! Check the `README.md` for the updated docs!

[2020-07-03 03:50] Matt-Gleich commented on #20
Released! Check the `README.md` for the updated docs!

[2020-07-03 10:36] t-animal opened #23 "Actually sort imports"
The import sorter does a great job at **grouping** the imports. This is a huge improvement already. However, it does not actually **sort** the imports. When re-ordering the imports, they stay in the relative order that they were before.

**Describe the solution you'd like**
The import sorter plugin should 1) group imports by origin (dart,flutter,packages,local) and 2) within each group sort the im

[2020-07-03 15:13] Matt-Gleich commented on #23
I agree this would be nice.

[2020-07-04 03:52] #23 closed

[2020-07-13 14:45] britannio opened #25 "Sorter violates directives_ordering lint"
https://dart-lang.github.io/linter/lints/directives_ordering.html

Relative project imports aren't being placed below the rest of the project imports

[2020-07-13 16:17] Matt-Gleich commented on #25
Thanks for letting me know about this!

[2020-07-13 21:23] #25 closed

[2020-07-21 03:06] crizant opened #27 "Add argument to sort some files only?"
Hi, I would like to use this together with my git hook, and have my changed files sorted only.
It would be great to having a way to sort only a subset of files, instead of sorting all of them.

[2020-07-21 03:34] Matt-Gleich commented on #27
You can configure what files to sort right now using the config. Does this not work for you?

https://github.com/fluttercommunity/import_sorter#%EF%B8%8F-config

[2020-07-21 03:53] crizant commented on #27
But how to select files with command arguments?
I want to do it In my git hook config files like:
[code]

[2020-07-21 13:50] Matt-Gleich commented on #27
Is there a reason you don't want them all sorted in this case?

[2020-07-21 15:25] crizant commented on #27
Yes, I have hundreds of files in my repository and it makes the process a little bit slower; also there is a lot unnecessary (and unwanted) outputs.

I want all files to be sorted, but only once. Then for every commits I made to my repository, the unchanged files doesn't need to be sorted, right?

[2020-07-21 15:29] Matt-Gleich commented on #27
Ahh, I see. This is a good idea! I will look into it and see how easy it would be to do something like this. Any updates I make will be posted in this issue thread.

[2020-08-04 19:23] andrewrowe-wk opened #28 "Sorter violates directives_ordering lint rule when file has named imports"
**Describe the bug**

In a file that contains relative import paths, and an absolute path to a named import, then the Dart linting rule `directives_ordering` fails.

**To Reproduce**

1. In your `analysis_options.yaml` file, enable the `directives_ordering` option (more info here: http://dart-lang.github.io/linter/lints/directives_ordering.html)
2. Create a file that contains the following:
    1.

[2020-08-04 19:26] Matt-Gleich commented on #28
Hello! What version of import_sorter are you using? Please fill out the template

[2020-08-04 19:28] andrewrowe-wk commented on #28
Sorry, I hit submit by accidentally ctrl+entering!

[2020-08-04 19:28] Matt-Gleich commented on #28
No worries!

[2020-08-04 19:33] andrewrowe-wk commented on #28
![Screen Shot 2020-08-04 at 3 07 18 PM](https://user-images.githubusercontent.com/66263499/89336660-be3f0c80-d667-11ea-9726-3008f726704c.png)

Here is a screenshot of the problem. Sorry for the obfuscation, but it's required :)

[2020-08-04 19:34] Matt-Gleich commented on #28
Awesome, thank you! I will debug it when I get out of work in an hour or so.

[2020-08-10 18:08] andrewrowe-wk commented on #28
Hi Matt!

I think I've almost finished an implementation for this if you're up for the PR! The parsing for imports is actually pretty complicated, because, for my usecase, I leverage a lot of the import related Dart features. That being said, I've got a WIP version that conforms to 90% of the Dart language specification. Would be happy to answer any questions that you would have about it!

[2020-08-10 18:09] andrewrowe-wk commented on #28
It will be 100% tested, and I will ensure that previous tests still pass.

[2020-08-10 18:25] Matt-Gleich commented on #28
Hey! Yeah, that would super great! Sorry about the lack of work on this, I am super busy with my internship recently.

[2020-08-10 18:48] andrewrowe-wk commented on #28
No worries!

[2020-08-10 18:49] andrewrowe-wk commented on #28
As an FYI, the issue was around lack of support for "multiline", as opposed to the `as` keyword. All details will be in PR.

[2020-08-30 21:08] Matt-Gleich commented on #28
@andrewrowe-wk any update on this? If need be I can start work on it

[2020-09-02 13:01] andrewrowe-wk commented on #28
@Matt-Gleich Hi Matt! Yes, I've been working on it, and have a big PR I'm getting together, but I can only work on it on Fridays now, because I have other work that has come up. The change is pretty substantial, and the problem of sorting import statements is not very straightforward due to Dart the dart language specification. I ended up having to import a parser combinator library, to fully pars

[2020-09-02 13:11] Matt-Gleich commented on #28
Awesome! Looks pretty great so far. No rush on the timing btw, keep it up tho!

[2020-09-09 23:52] Vent1narc opened #29 "Changing package imports to relative"
**Is your feature request related to a problem? Please describe.**
No

**Describe the solution you'd like**
An option in the config that when enabled would convert all package imports to relative path imports. Applied only to the Project imports: section.

**Describe alternatives you've considered**
Have considered a vscode extension but it didn't work as it is outdated.

**Additional context**
I

[2020-09-10 12:15] #29 closed

[2020-09-28 09:06] vHanda opened #30 "Ignored test_driver folder"
**Describe the bug**
When running the import sorter, file in a test_driver folder are ignored.

**To Reproduce**
Create at test_driver folder in the root folder and place some dart files over there.

**Expected behavior**
Those files should have their imports sorted.

**Meta Information:**
 - Dart Version: 2.9.2
 - `import_sorter` Version: 4.2.1
 - Is it a Flutter project? Yes
 - What version of F

[2020-09-28 13:34] Matt-Gleich commented on #30
Hey @vHanda I can add this quickly after school. Thanks for letting me know about this!

[2020-09-29 01:10] #30 closed

[2020-09-29 03:03] vHanda commented on #30
Wow. Thank you so much for solving this so fast.

I seriously love this package.

[2020-10-27 23:03] supposedlysam-bb opened #34 "flutter_gen Package Import Gets Deleted"
**Describe the bug**
Without a comment on the same line the `import 'package:flutter_gen/gen_l10n/translations.dart';` gets removed when running `flutter pub run import_sorter:main`.

**To Reproduce**
You can just add the import to your main.dart file after creating a new project. It won't be able to build, but running `flutter pub run import_sorter:main` after saving the file still deletes the im

[2020-10-27 23:39] Matt-Gleich commented on #34
Hey @supposedlysam-bb! Sorry to hear about this issue. I'll take a look at it this week and keep you posted here.

[2020-11-14 20:42] lig commented on #27
@Matt-Gleich basically, it will be great to have this usable with IDEs/editors meaning sorting in a particular file and in a pre-commit hook, ideally, integrated in the pre-commit tool via pre-commit-config.yaml.

[2020-11-14 21:41] Matt-Gleich commented on #27
@lig do you think something like this would work well?

[code]

[2020-11-15 00:14] davidlj95 commented on #27
I think just positional arguments would be better to integrate with other tools like `pre-commit`

[2020-11-15 00:18] Matt-Gleich commented on #27
So something like this @davidlj95?

[code]

[2020-11-15 00:21] davidlj95 commented on #27
Yes!! ✨

[2020-11-15 05:42] Matt-Gleich commented on #27
This is now in v4.3.0 of import_sorter! You can supply a list of files or a list of regular expressions to only sort certain files! Check the [command line section in the docs](https://github.com/fluttercommunity/import_sorter#-command-line) for more information.

[2020-11-15 05:42] #27 closed

[2020-11-15 05:50] Matt-Gleich commented on #34
@supposedlysam-bb would mind sending me your pubspec.lock and pubspec.yaml?

[2020-11-15 19:16] davidlj95 commented on #27
Thanks!! 🌟

[2020-11-20 15:10] lig opened #36 "Distinguish what files were changed in the output"
**Is your feature request related to a problem? Please describe.**
It is not clear what files were changed from the `import_sorter` output. In fact. all files appear to be changed. I would like to review files that were changed by the tool. This could be especially useful when running `import_sorter` as a `pre-commit` hook.

**Describe the solution you'd like**
I would like to see just an "Ok" for

[2020-11-20 16:33] Matt-Gleich commented on #36
This sounds great! Do you think having the file name be yellow instead of green would work to signify that it was updated?

[2020-11-20 21:39] lig commented on #36
I guess. However, it is better to avoid relying on color only IMO as there are a lot of cases when color is not available, i.e. command output in an IDE or on CI, custom terminal color schemes, etc.

As for me, as long as the output is distinguishable in plain text the color doesn't really matter that much.

[2020-11-21 20:51] Matt-Gleich commented on #36
So it not shows the number of imports actually update in the file out of the total number of imports. See the change log for more info. Thanks for the suggestion!

[2020-11-21 20:51] #36 closed

[2020-11-22 11:55] lig commented on #36
@Matt-Gleich looks like this will do it. Thanks!

[2020-11-23 16:29] KevinRohn opened #37 "RangeError after executing flutter pub run import_sorter:main"
**Describe the bug**
After executing the `flutter pub run import_sorter:main` command I get following error:

[code]

**To Reproduce**
I installed the `import_sorter` package and did run `flutter pub run import_sorter:main`

**Expected behavior**
correct sorting, but it stopped after two files.

**Screenshots**
![Bildschirmfoto 2020-11-23 um 17 25 56](https://user-images.githubusercontent.com/2584

[2020-11-23 16:31] Matt-Gleich commented on #37
Hello @KevinRohn! Sorry to hear you are having an issue with this. Would you mind sending me the file that you are having an error on so I can easily debug this? Thank you!

[2020-11-23 16:33] Matt-Gleich commented on #37
Also, do you get this error if you use an older version of `import_sorter`?

[2020-11-23 16:50] aseef17 commented on #37
Facing the same error with import_sorter 4.4.0

[2020-11-23 16:51] aseef17 commented on #37
Works well with 4.2.2

[2020-11-23 16:54] Matt-Gleich commented on #37
@aseef17 could you send me the file you are getting an error for?

[2020-11-23 17:09] Matt-Gleich commented on #37
I was just able to reproduce this. Looking into a fix now

[2020-11-23 17:13] Matt-Gleich commented on #37
Just fixed. Releasing 4.4.1 now

[2020-11-23 17:16] Matt-Gleich commented on #37
This is now fixed in `import_sorter` v4.4.1!

[2020-11-23 17:16] #37 closed

[2020-11-24 11:34] KevinRohn commented on #37
Thank you!

[2020-12-06 10:25] SchnMar opened #38 "Sorter ignores // ignore: implementation_imports above imports when sorting"
**Describe the bug**
I use // ignore: implementation_imports in my project above some imports because I use some packages and their implementation.

**To Reproduce**
What command or actions did you take to produce this error?
I added these comments and ran ```flutter pub run import_sorter:main```. Now these comments are listed below all the imports and not above the imports, which actually import

[2020-12-06 20:27] Matt-Gleich commented on #38
Hello @SchnMar! Mind sending an example file so it easier for me to debug? Thanks!

[2020-12-09 21:49] SchnMar commented on #38
Hallo @Matt-Gleich,

thank you for your help and sorry for the late reply.

I have the following imports prior to sorting:
[code]

After sorting, the imports appear like this:

[code]

This leads to me annotating with ```//ignore: implementation_imports after every sort.

What do you think? I'm aware that I shouldn't be doing this, but in this case I think it's reasonable to do so.

[2020-12-27 23:03] 0b01001101 opened #39 "Precommit hook doesn't sort imports"
**Describe the bug**
Precommit hook doesn't sort imports

**To Reproduce**
What command or actions did you take to produce this error?
Followed the steps at https://pub.dev/packages/import_sorter
When I run 'pre-commit run --all-files' nothing happens

.pre-commit-config.yaml:
[code]

I got it working with this hotfix as .pre-commit-config.yaml:
[code]

It may have something to do with the 'files:

[2020-12-27 23:05] Matt-Gleich commented on #39
@lig worked on this. Any idea on why this isn't working?

[2020-12-27 23:38] lig commented on #39
I have some suspicions. I'll look into this.

[2020-12-27 23:52] 0b01001101 commented on #39
pre-commit 2.9.3

If i use dart-import-sorter i get this:
[code]

If I remove the `files` completely, everything works fine(In my first example the `^lib/` regex has a pattern error, so I got the same effect).
I use Windows 10

[2020-12-28 00:12] lig commented on #39
@0b01001101 could you please run `pre-commit autoupdate` and try again? @Matt-Gleich has just merged a fix.

[2020-12-28 00:20] lig opened #41 "Pre-commit hook doesn't work with custom dart/flutter executable locations"
At the moment, the pre-commit hook definition expects `dart`/`flutter` executables to be accessible in the search path.

However, it is a common practice to install several channels on the same machine and use different executable names for them. i.e. `flutter-stable`, `dart-beta`, etc.

It is possible to implement a hook that takes an executable name/path as an argument in the `args` parameter, s

[2020-12-28 00:25] 0b01001101 commented on #39
Still doesn't work for me

It may have something to do with windows: https://stackoverflow.com/a/23384429

I will investigate the problem further tomorrow

[2020-12-28 00:35] lig commented on #39
Could you please provide the full output?

Please run it like this: `pre-commit run --verbose --all-files flutter-import-sorter`

[2020-12-28 00:38] lig commented on #41
Another option is to use `python` hook type as a wrapper. From the pre-commit docs: `Support: python hooks work without any system-level dependencies. It has been tested on linux, macOS, windows, and cygwin.` https://pre-commit.com/#python

A simple python script will work on any platform and it is easy enough to parse arguments and invoke the proper command from it.

[2020-12-28 00:39] 0b01001101 commented on #39
[code]

[2020-12-28 00:45] lig commented on #41
Well, according to the docs the entire repo must be installable as a python package. This will require some additional files in the repo root. Seems a bit inconvenient.

[2020-12-28 00:58] lig commented on #39
@0b01001101 have you run `git add` for any dart source files already? Files not known to git won't be checked by git hooks.

Also, consider removing any `files` patterns you still might have defined.

[2020-12-28 00:59] lig commented on #39
This might be windows related indeed. However, `pre-commit` should be able to handle that.

[2020-12-28 01:16] 0b01001101 commented on #39
It is strange: if I use `types: [file]` instead of `types: [dart]`, then everything works like expected. It just doesn't like sorting only dart files.

For me the hotfix with sorting all files works more than good enough, I would say if nobody else has the same problem we close this issue for now. It may be a complex interaction between the flutter installation on a custom location, something rela

[2020-12-28 02:25] #39 closed

[2020-12-30 19:07] bartekpacia opened #42 "Don't delete newlines in one-line files"
**Describe the bug**
In my CI, I use (or at least, I would __love__ to use, because this very issue prevents me from doing so) `dart format -l 100 --output none --set-exit-if-changed .` to format my code. After that, I want to check if my imports are sorted using `flutter pub run import_sorter:main --exit-if-changed`. Now, it is just not possible for those two actions to complete successfully (the

[2021-01-06 17:40] nvi9 opened #43 "Multiline import statements"
**Describe the bug**
When an import statement being splitted in multiple lines (eg. because exceeding the default 80 characters with `show` or `hide` on any long import) the tool moves these lines to the end of the import list. It seems these import statements are not recognized, so they are put in `afterImportLines` [here](https://github.com/fluttercommunity/import_sorter/blob/master/lib/sort.dar

[2021-02-10 11:03] rodrigobastosv opened #44 "Add possibility to sort export from barrel files"
**Describe the solution you'd like**
It would be great if we could have the possibility to sort the export from our barrel files

**Additional context**
Let's supose we have a barrel file like this:

[code]

It would be great if the tool also sorts these kind of files. The expected result would be something like this:

[code]

[2021-02-11 10:45] ptrbrynt opened #45 "Pre-commit now throws a warning when targeting a specific branch"
**Describe the bug**

When running pre-commit with this config:

[code]

A warning is thrown:

[code]

**Expected behavior**

I would like a tag to be added to GitHub which I can reference in my pre-commit config.

**Meta Information:**
 - Dart Version: 2.10.5
 - `import_sorter` Version: master
 - Is it a Flutter project? Yes
 - What version of Flutter are you using (if flutter project): 1.22.6

[2021-02-11 15:26] Matt-Gleich commented on #45
@lig any idea why this might be going on?

[2021-02-11 15:48] lig commented on #45
@Matt-Gleich I'll try to look into this a bit later

[2021-02-12 06:48] lig commented on #45
So, according to [pre-commit docs](https://pre-commit.com/#using-the-latest-version-for-a-repository), this is by pre-commit design for mutable git references, aka branch references.

@Matt-Gleich Using tags in the `import_sorter` repo would be beneficial for pre-commit hooks as it will allow using tags instead of the `master` reference in pre-commit configs.

@ptrbrynt as a workaround, I recommen

[2021-02-14 18:54] DanMossa commented on #36
@Matt-Gleich
Would it be possible to pass in an argument to only print a line with sorted is more than 0?

[2021-03-02 14:19] bartekpacia commented on #42
@Matt-Gleich hey, just pinging, it's quite important for me:)

[2021-03-02 15:37] Matt-Gleich commented on #42
Hey @bartekpacia! Sorry for the lack of communication here, I've been pretty busy with school work and some other work. I'll look into this over the weekend and let you know what's going on here.

[2021-03-05 09:36] jlnrrg opened #46 "Yaml version update"
With Flutter 2.0 Dart 2.12 is now in the stable channel.
Please consider updating the [yaml](https://pub.dev/packages/yaml/versions) package to the current version.

**Issue**
The [artemis](https://github.com/b-jan/graphql-flutter/blob/version_update/packages/graphql/pubspec.yaml) library is in the process of checking into null safety, but now depends on `yaml: ^3.1.0`, thus leading to incompatibi

[2021-03-05 16:34] #46 closed

[2021-03-08 23:56] DanMossa opened #48 "Null-safety support?"
Hello! Was curious if this repo plans on supporting null-safety?
Thanks!

[2021-03-09 00:34] Matt-Gleich commented on #48
Hey @DanMossa! Looking into this now

[2021-03-09 00:37] Matt-Gleich commented on #48
Ok, so it looks like the color output library I use called `colorize` doesn't have null-safety support yet. The `ansicolor` package seems like a good fix. I'll keep you posted here.

[2021-03-09 09:32] frencojobs commented on #48
Hey Matt, came here to open an issue and found this. Shameless plug but you could probably use [tint](https://pub.dev/packages/tint). I migrated it to null-safety today.

[2021-03-11 05:31] Matt-Gleich commented on #48
@DanMossa `import_sorter` now has null-safety support!

[2021-03-14 04:39] arsamme commented on #34
@Matt-Gleich  Any update on this?
It deletes this import for me:
import 'package:flutter_gen/gen_l10n/app_localizations.dart';

[2021-03-14 04:42] Matt-Gleich commented on #34
I wasn't able to reproduce this on my end at the time. Would you mind sending me the whole file that this breaks for?

[2021-03-14 04:44] arsamme commented on #34
@Matt-Gleich Whole project or the widget I used this package in?

[2021-03-14 04:46] Matt-Gleich commented on #34
If you can send the project, that would be great. The single file that the import breaks work as well.

[2021-03-14 04:59] arsamme commented on #34
[project.zip](https://github.com/fluttercommunity/import_sorter/files/6136119/project.zip)
@Matt-Gleich Here you are

[2021-03-14 05:00] Matt-Gleich commented on #34
Thank you @arsamme! I'll look into this tomorrow and let you know the progress here :)

[2021-03-14 05:08] arsamme commented on #34
@Matt-Gleich  I'll appreciate🌹

[2021-03-15 04:23] arsamme commented on #34
@Matt-Gleich The issue is (here)[https://github.com/fluttercommunity/import_sorter/blob/9bb4beec11f289f78a587c7d323c39d5fedc49e0/lib/sort.dart#L66].
Because flutter_gen is not dependency itself.

[2021-03-15 04:25] Matt-Gleich commented on #34
Hey, @arsamme. Sorry for not being able to get to this today. I have a lot going on with school right now and will try to get this as soon as possible. Sorry for the slight delay!

[2021-03-15 04:27] arsamme commented on #34
@Matt-Gleich np, feel free. I can create pr and fix this if you want

[2021-03-15 04:30] Matt-Gleich commented on #34
If you feel up to it, that would be great! Lemme know if you have any questions :)

[2021-03-15 07:13] arsamme commented on #34
@Matt-Gleich Would you please check this pr? #50

[2021-03-19 07:42] arsamme commented on #34
@Matt-Gleich Did you check this?

[2021-03-30 12:20] smofe commented on #34
Any updates on this?

[2021-04-09 14:58] Matt-Gleich commented on #34
Hey everyone! Sorry for the hold-up here. I just pushed out v4.4.3 of import_sorter which should resolve this issue.

[2021-04-12 15:17] smofe commented on #34
Unfortunately, the error still exists in v4.4.3.

[2021-04-12 18:27] Matt-Gleich commented on #34
hmm, strange. It worked for all my tests. Mind sending your project here? Sorry about this

[2021-04-13 07:58] smofe commented on #34
I can reproduce this by creating the flutter example project and adding the import
`import 'package:flutter_gen/gen_l10n/translations.dart';`
to the main.dart

pubspec.yaml:
[code]

[2021-04-24 18:55] bartekpacia commented on #34
I also encounter this issue, because of it I had to stop using `import_sorter` in my project:(

[2021-04-24 19:29] #34 closed

[2021-04-24 20:03] Matt-Gleich commented on #34
New fix out in v4.5.0. The sorting algorithm used to get package imports as long as the name was in the `dependencies` section of your pubspec.yaml. That is no longer the case so dev dependencies or other packages simply not listed will be put under package imports. Lemme know if this fixes it for you guys.

[2021-04-24 21:14] bartekpacia commented on #34
Works flawlessly now! Thanks a lot :)

[2021-05-09 12:54] bartekpacia opened #51 "Say which file do not have their imports sorted"
**Is your feature request related to a problem? Please describe.**
My project is quite big and has many files. That's the output I get after running `flutter pub run import_sorter:main --exit-if-changed`

[code]

In the example above, I get error code `1` because imports in `lib/app.dart` are not sorted. I would like to `import_sorter` to explicitly tell me **why** it failed on **which files**. I'

[2021-05-09 13:13] bartekpacia commented on #42
@Matt-Gleich I added more info to this issue (it still persists). I'd be very happy if it got fixed, but if you don't have time, I'll be done with my exams in ~2 weeks and then I can try to make a PR to fix this:)

[2021-05-10 01:00] #42 closed

[2021-05-10 02:01] Matt-Gleich commented on #42
Super sorry for the lack of communication here. Just released 4.5.1 which has this fix. Thank you for the updated information and the reminder :)

[2021-05-10 09:26] bartekpacia commented on #42
Thanks a lot! :D

[2021-06-15 04:56] hoc081098 opened #55 "Duplicate `// Flutter imports:`"
IMO, should remove `// Flutter imports` / `// Project imports:` / ... before sorting

[2021-06-15 05:01] gleich commented on #55
@hoc081098 hello! Would you mind giving some more info on this? I'm not super sure what you mean here.

[2021-06-15 05:02] gleich commented on #55
If there really is a duplicate `// Flutter imports:` would you mind giving me an example file that this is happening for? It would help a lot in the debugging process.

[2021-06-15 07:58] hoc081098 commented on #55
@gleich Like this
![image](https://user-images.githubusercontent.com/36917223/122015308-3169f100-cdea-11eb-8cef-517bb5685775.png)

[2021-06-15 08:01] hoc081098 commented on #55
And
![image](https://user-images.githubusercontent.com/36917223/122015669-80178b00-cdea-11eb-8edc-2c2193fa1b60.png)

[2021-06-16 10:03] hoc081098 commented on #55
@gleich I have just meet it again!

[code]

![image](https://user-images.githubusercontent.com/36917223/122199862-b1fd2000-cec4-11eb-8b30-b4990c937de7.png)

[2021-06-16 10:35] boldt opened #56 "Feature Request: Remove unused imports"
I suggest to **remove unused imports** during the sorting as well.

[2021-06-16 10:36] boldt opened #57 "Feature Request: Remove duplicates"
I suggest to **remove duplicate imports** during the sorting as well.

[2021-06-19 02:36] gleich commented on #55
Hmm, this is a strange one. Mind sending the actual file so I could test it locally? Thanks!

[2021-06-27 18:34] georgeherby commented on #55
I am getting this too. If the Flutter Imports header is present with no imports under it but there are flutter imports in the imports when i run the import_sorter it adds it in again. As they were just under the wrong under the header in the original and now it has two headers.
![image](https://user-images.githubusercontent.com/21989833/123555572-785acd80-d77e-11eb-99b3-302437d5979d.png)

[2021-06-28 04:02] JamesMcIntosh opened #58 "Sort alphabetically without groupings"
Can an option be added to sort all imports alphabetically instead of grouping them?

This is the behaviour I get when organising imports in Android Studio.

[code]

Many thanks
James

[2021-06-28 20:44] georgeherby commented on #55
That does not seem to be the only case just ran it again it just randomly added the Flutter imports again
![image](https://user-images.githubusercontent.com/21989833/123701615-fcce4e80-d859-11eb-8db6-d964b3102d5e.png)

[2021-06-28 23:41] gleich commented on #55
@georgeherby would you please mind sending me the file in that screenshot so I can test it locally? Thanks!

[2021-06-30 20:43] georgeherby commented on #55
@gleich a bit tricky as it does not happen all the time. However, I edited a file so its imports looked like this and it seems to happen every time.

[code]

by moving the flutter imports to the package imports block. I ran `flutter pub run import_sorter:main` version 4.6.0 on flutter stable 2.2.2 and it ended up like:

[code]

I can't really sure the rest of the file so how that is fine>

[2021-07-20 22:45] CelestialGuru commented on #39
I am also having issues on Windows. This is my output of `pre-commit run --verbose --all-files flutter-import-sorter`:
[code]
This is what I have in `.pre-commit-config.yaml`:
[code]

[2021-08-27 05:59] SirusCodes opened #59 "Feature Request: Add option for relative import"
It would be great if this package can change our absolute imports to relative imports.

Example 1
`import 'package:my_app/lib/src/foo.dart'`
to
`import 'foo.dart'`

Example 2
[code]
to
[code]
**if imported in `src`**
to
[code]
**if imported in `p2`**

I would like to contribute to this feature but can anyone guide me with this?

[2021-09-13 23:20] vkammerer opened #60 "Guidelines / solution to run compiled version"
**Is your feature request related to a problem? Please describe.**
The current execution of `flutter pub run import_sorter:main` has a slow start due to the Dart VM initialisation. While it is acceptable if it is ran infrequently (like as a GIT commit hook for example), it is a lot more critical when running frequently (like every time a file is saved for example).

**Describe the solution you'd l

[2021-12-04 15:23] hongfeiyang commented on #55
Same for me

[2021-12-07 20:48] gleich opened #63 "Archiving `import_sorter`"
Hello everyone. I'm sad to say that today I am going to be archiving import_sorter. Unfortunately I no longer work with dart and flutter anymore and as I go into college I don't have a lot of free time to maintain the project. Anyone is free to fork the code or take over as maintainer but I am going to be archiving the project today. Sorry for any inconveniences this may cause and thank you so muc

[2021-12-07 20:48] #63 closed

[2021-12-07 20:48] gleich commented on #60
See #63

[2021-12-07 20:48] gleich commented on #59
See #63

[2021-12-07 20:48] gleich commented on #58
See #63

[2021-12-07 20:49] gleich commented on #57
See #63

[2021-12-07 20:49] gleich commented on #56
See #63

[2021-12-07 20:49] gleich commented on #55
See #63

[2021-12-07 20:49] gleich commented on #51
See #63

[2021-12-07 20:49] gleich commented on #45
See #63

[2021-12-07 20:49] gleich commented on #44
See #63

[2021-12-07 20:49] gleich commented on #43
See #63

[2021-12-07 20:49] gleich commented on #41
See #63

[2021-12-07 20:49] gleich commented on #38
See #63

[2021-12-07 20:49] gleich commented on #28
See #63

[2021-12-07 21:30] vkammerer commented on #63
@gleich is it the right approach to close all issues and PRs? Our team relies a lot on it, we even made it a rule in our CI where a PR with incorrect imports order won't be mergeable.

Instead of archiving the project, could you instead call for another maintainer on the README?

[2021-12-07 21:35] gleich commented on #63
yeah that might be the better approach here. I'll reopen the issues and add a maintainer request on the README. Thanks for the suggestion.

[2021-12-07 22:34] vkammerer commented on #63
I would be interested in taking over the maintenance of this package.
However, I will not be available for two months, starting December 18th, so I'm not sure that I am the best person to do so right now.

[2021-12-07 22:36] gleich commented on #63
That would be amazing! I can lightly maintain it until you get back. I just can't commit in the long run.

[2021-12-08 08:16] bartekpacia commented on #63
Thanks for creating and maintaining this nice tool @gleich! Good luck in college :)

[2021-12-08 09:20] lig commented on #63
Hey @gleich!

I'm ok with maintaining it myself as well. Anyway, please, do not forget to transfer pub.dev access to a new maintainer.

BTW, there is https://github.com/fluttercommunity which could be a convenient place to keep the project accessible.

In any case, the new maintainer is free to contact me regarding any help desired.

[2021-12-17 07:12] lig commented on #63
So, what's next? I think, it would be helpful to create a dev chat (on the Matrix network perhaps) to gather all willing to help to maintain the project and discuss the next steps there.

[2022-01-22 10:21] JamesMcIntosh commented on #56
@boldt In the 2.16.0 release of Dart (currently in Flutter beta channel if you use Flutter) it will remove unused imports when you run the `dart fix` command.

[2022-11-17 11:12] Pitazzo opened #67 "Specify config in an independent file"
**Is your feature request related to a problem? Please describe.**
We are migrating our projects to a single monorepo and would love to have only one configuration set for all the stuff related to import sorting. Now, as ignoring files are only supported to be specified in the `pubspec.yaml` file we have to replicate that config per project instead of just once at the root of the monorepo.

**Desc

[2022-11-22 20:55] AlmogRnD commented on #63
I would keen to take this over and maintain the package, do you still need someone to do so?

[2022-11-22 20:58] vkammerer commented on #63
@AlmogRnD : @gleich added me as a maintainer to the repository a couple months ago. I haven't addressed the currently open issues, but will get to it in the following weeks.

[2022-11-22 21:12] AlmogRnD commented on #63
ok